@font-face {
    font-family: "icomoon";
    src: url("@/assets/fonts/icomoon/icomoon.eot") format("embedded-opentype"),
    url("@/assets/fonts/icomoon/icomoon.ttf") format("truetype"),
    url("@/assets/fonts/icomoon/icomoon.woff") format("woff"),
    url("@/assets/fonts/icomoon/icomoon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  [class^=lf_icon-], [class*=" lf_icon-"] {
    &.mdi:before, &.mdi-set {
     font: unset; 
    }
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.lf_icon-crm:before {
    content: "\e900";
}
  
.lf_icon-client:before {
    content: "\e901";
  }
  
.lf_icon-const:before {
    content: "\e902";
  }
  
.lf_icon-device:before {
    content: "\e903";
  }
  
.lf_icon-property:before {
    content: "\e904";
  }
  
.lf_icon-billing:before {
    content: "\e905";
  }
  
.lf_icon-statistics:before {
    content: "\e906";
  }
  
.lf_icon-manage:before {
    content: "\e907";
  }
  
.lf_icon-history:before {
    content: "\e908";
  }
  
.lf_icon-search:before {
    content: "\e90a";
  }
  
.lf_icon-menu:before {
    content: "\e90b";
  }
  
.lf_icon-config:before {
    content: "\e90c";
  }
  
.lf_icon-position01:before {
    content: "\e90d";
  }
  
.lf_icon-position02:before {
    content: "\e90e";
  }
  
.lf_icon-check:before {
    content: "\e90f";
  }
  
.lf_icon-check02.lf_path1:before {
    content: "\e909";
  }
  
.lf_icon-check02.lf_path2:before {
    content: "\e91e";
    margin-left: -1em;
  }
  
.lf_icon-calendar:before {
    content: "\e910";
  }
  
.lf_icon-icon01:before {
    content: "\e911";
  }
  
.lf_icon-icon02:before {
    content: "\e912";
  }
  
.lf_icon-icon03:before {
    content: "\e913";
  }
  
.lf_icon-icon04:before {
    content: "\e914";
  }
  
.lf_icon-icon05:before {
    content: "\e915";
  }
  
.lf_icon-icon06:before {
    content: "\e916";
  }
  
.lf_icon-icon07:before {
    content: "\e917";
  }
  
.lf_icon-icon08:before {
    content: "\e918";
  }
  
.lf_icon-icon09:before {
    content: "\e919";
  }
  
.lf_icon-icon10:before {
    content: "\e91a";
  }
  
.lf_icon-icon11:before {
    content: "\e91b";
  }
  
.lf_icon-icon12:before {
    content: "\e91c";
  }
  
.lf_icon-icon13:before {
    content: "\e91d";
  }
  
.lf_icon-close:before {
    content: "\e91f";
  }
  
.lf_icon-close02:before {
    content: "\e920";
  }
  
.lf_icon-arrow:before {
    content: "\e921";
  }
  
.lf_icon-delete.lf_path1:before {
    content: "\e922";
  }
  
.lf_icon-delete.lf_path2:before {
    content: "\e923";
    margin-left: -1em;
  }
  
.lf_icon-user:before {
    content: "\e924";
  }
  
.lf_icon-logout:before {
    content: "\e925";
  }
  
.lf_icon-s_check:before {
    content: "\e926";
  }
  
.lf_icon-arrow2:before {
    content: "\e927";
  }
  
.lf_icon-key:before {
    content: "\e928";
  }
  
.lf_icon-edit:before {
    content: "\e929";
  }